
@{
    ViewBag.Title = "Contact";
}

<section style="padding: 1rem">
    <div>
        <h2>Contact</h2>
        <a href="tel:+8801309077861" style="color: black">Phone: 01309077861</a>
        <a href="mailto:ifty64bit@gmail.com">Email: ifty64bit@gmail.com</a>
    </div>
</section>

