
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<div>
    <h2>American International University - Bangladesh</h2>
    <p>BSc in CSE</p>
    <p>CGPA: 3.5</p>
</div>
<div>
    <h2>Nawab Faizunnesa Govt College</h2>
    <p>HSC</p>
    <p>GPA: 4</p>
</div>
<div>
    <h2>Laksham Pilot High School</h2>
    <p>SSC</p>
    <p>GPA: 5</p>
</div>

