
@{
    ViewBag.Title = "MD. Ifthe Kharul Islam";
}

<main>
    <section id="img">
        <div class="flex-center">
            <img src="https://avatars.githubusercontent.com/u/62901448?v=4" width="250" style="border-radius:100%" />
        </div>
    </section>

    <section class="flex-center mt-1" style="flex-flow: column; align-items:center">
        <h1>MD. Ifthe Kharul Islam</h1>
        <p class="mt-1">If you're not a good shot today, don't worry. There are other ways to be useful</p>
    </section>

    <section id="links" class="mt-1">
        <a class="card" href="~/Home/Contact">
            <p>View Contact</p>
        </a>

        <a class="card" href="~/Home/Education">
            <p>View Education</p>
        </a>

        <a class="card" href="~/Home/Address">
            <p>View Address</p>
        </a>
    </section>
</main>
